/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

/* End Global Rules */

/* Start Variables */

:root {
    --main-colorone: #ed6436;
    --main-colortwo: #65c178;
    --trans-color: #181818;
    --trans-dur: 0.3s;
}

/* End Variables */

/* Start Components */
/* End Components */

/* Start Top bar */

.top-bar {
    background-color: var(--main-colortwo , #65c178);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .top-bar {
        flex-direction: column;
        align-items: center;
    }
}

.top-bar .help {
    display: flex;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .top-bar .help {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

.top-bar .help a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    display: block;
}

.top-bar .help a:hover {
    text-decoration: underline;
}

.top-bar .help span {
    height: 15px;
    width: 2px;
    background-color: white;
    display: block;
    margin-right: 20px;
}

.top-bar .socials i {
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

/* End Top bar */

/* Start Working Hours */

.work {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

@media (max-width: 991px) {
    .work {
        justify-content: center;
        align-items: center;
    }
}

.work .logo {
    font-size: 39px;
    font-weight: 800;
    color: var(--main-colorone , #ed6436);
}

@media (max-width: 991px) {
    .work .logo {
        display: none;
    }   
}

.work .logo span {
    color: black;
}

.work .hours {
    display: flex;
}

.work .hours .col {
    border-right: 1px solid #dee2e6;
    padding: 0 15px;
    text-align: center;
}

.work .hours .col:last-of-type {
    border-right: none;
}

.work .hours .col:nth-child(2) {
    margin-top: auto;
    margin-bottom: auto;
}

.work .hours .col h6 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #181818;
}

.work .hours .col p {
    opacity: 0.2;
}

/* End Working Hours */

/* Start Header */

header {
    background-color: var(--trans-color , #181818);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    margin-left: 35px;
}

@media (max-width: 991px) {
    header ul {
        display: none;
    }
}

header ul li a {
    display: block;
    padding: 30px 20px;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    color: #F2F2F4;
}

header ul li a:hover {
    background-color: var(--main-colorone , #ed6436);
    color: black;
}

header ul li a.active {
    background-color: var(--main-colorone , #ed6436);
}

header button {
    margin-right: 35px;
    padding: 20px;
    text-transform: capitalize;
    color: #8c8c8c;
    background-color: var(--main-colorone , #ed6436);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: var(--trans-dur , 0.3s);
    -webkit-transition: var(--trans-dur , 0.3s);
    -moz-transition: var(--trans-dur , 0.3s);
    -ms-transition: var(--trans-dur , 0.3s);
    -o-transition: var(--trans-dur , 0.3s);
}

header button:hover {
    background-color: #e84a15;
    color: white;
}

@media (max-width: 991px) {
    header button {
        display: none;
    }
}

header h1 {
    margin-left: 20px;
    color: var(--main-colorone , #ed6436);
    cursor: pointer;
}

@media (min-width: 991px) {
    header h1 {
        display: none;
    }
}

header h1 span {
    color: white;
    font-style: italic;
}

header .icon {
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #303030;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: var(--trans-dur , 0.3s);
    -webkit-transition: var(--trans-dur , 0.3s);
    -moz-transition: var(--trans-dur , 0.3s);
    -ms-transition: var(--trans-dur , 0.3s);
    -o-transition: var(--trans-dur , 0.3s);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

header .icon:hover {
    border-color: white;
}


header .icon span {
    display: block;
    background-color: #8c8c8c;
    height: 2px;
    width: 25px;
    margin-bottom: 5px;
}

@media (min-width: 991px) {
    header .icon {
        display: none !important;
    }
}

/* End Header */

/* Start Landing */

.landing {
    position: relative;
}

.landing .image {
    width: 100%;
}

.landing .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%);
}

.landing .image img {
    width: 100%;
}

 .landing .content .text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    text-align: center;
    color: white;
}

.landing .content .text h3 {
    font-size: 28px;
    margin-bottom: 16px;
}

@media (max-width: 576px) {
    .landing .content .text h3 {
        display: none;
    }
}

.landing .content .text h1 {
    font-size: 68px;
    margin: 16px;
}

@media (max-width: 768px) {
    .landing .content .text h1 {
        font-size: 50px;
    }
}

@media (max-width: 576px) {
    .landing .content .text h1 {
        margin-bottom: 35px;
    }
}

.landing .content .text h5 {
    font-size: 20px;
    margin-bottom: 45px;
}

@media (max-width: 576px) {
    .landing .content .text h5 {
        display: none;
    }
}

.landing .content .text .links a {
    text-decoration: none;
    font-size: 20px;
    padding: 8px 24px;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: var(--trans-dur , 0.3s);
    -webkit-transition: var(--trans-dur , 0.3s);
    -moz-transition: var(--trans-dur , 0.3s);
    -ms-transition: var(--trans-dur , 0.3s);
    -o-transition: var(--trans-dur , 0.3s);
}

.landing .content .text .links a:first-child {
    background-color: var(--main-colorone , #ed6436);
    color: white;
}

.landing .content .text .links a:first-child:hover {
    background-color: #e84a15;
}

.landing .content .text .links a:last-child {
    background-color: var(--main-colortwo , #65c178);
    color: black;
}

.landing .content .text .links a:last-child:hover {
    background-color: #4ab660;
} 

.landing .content i {
    position: absolute;
    top: 50%;
    font-size: 35px;
    color: white;
    padding: 0 10px;
    background-color: var(--main-colorone , #e84a15);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    opacity: 0.5;
    cursor: pointer;
    transition: var(--trans-dur , 0.3s);
    -webkit-transition: var(--trans-dur , 0.3s);
    -moz-transition: var(--trans-dur , 0.3s);
    -ms-transition: var(--trans-dur , 0.3s);
    -o-transition: var(--trans-dur , 0.3s);
}

.landing .content i:hover {
    opacity: 1;
}

.landing .content i:first-of-type {
    left: 20px;
}

.landing .content i:last-of-type {
    right: 20px;
}

/* End Landing */

/* Start Booking */

.book {
    background-color: #f2f2f4;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

@media (max-width: 991px) {
    .book {
        flex-direction: column;
        align-items: center;
    }
}

.book .re {
    background-color: var(--main-colorone , #e84a15);
    padding: 80px 40px;
    display: flex;
    align-items: center;
    flex-basis: 40%;

}

@media (max-width: 991px) {
    .book .re {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .book .re {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .book .re {
        width: 100%;
        padding: 80px 40px;
    }
}

.book .re form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.book .re form input:not(input[type="submit"]), 
.book .re form select {
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid white;
}

.book .re form input:not(input[type="submit"]):hover, 
.book .re form select:hover {
    outline: none;
}

.book .re form input[type="submit"] {
    font-size: 16px;
    background-color: #161616;
    color: white;
    border: none;
    padding: 15px 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.book .re form input[type="submit"]:hover {
    background-color: black;
}

.book .ads {
    padding: 45px 33px;
    flex-basis: 50%;
}

@media (max-width: 991px) {
    .book .ads {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .book .ads {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .book .ads {
        padding: 45px 10px;
    }
}

.book .ads .title h4 {
    font-size: 24px;
    margin-bottom: 16px;
    color: var(--main-colortwo , #65c178);
}

.book .ads .title h1 {
    font-size: 54px;
    word-spacing: -10px;
    font-weight: 800;
    margin-bottom: 25px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .book .ads .title h1 {
        font-size: 40px;
    }
}

@media (max-width: 576px) {
    .book .ads .title h1 {
        word-spacing: -5px;
        font-size: 30px;
    }
}

.book .ads .title h1 span {
    color: var(--main-colorone , #ed6436);
}

.book .ads .title p {
    color: #777777;
    font-size: 16px;
    margin-bottom: 16px;
}

.book .ads .ads-content {
    display: flex;
    flex-wrap: wrap;
}

.book .ads .ads-content .ad {
    flex-basis: 50%;
    padding: 20px 20px 20px 0;
}

@media (max-width: 576px) {
    .book .ads .ads-content .ad {
        flex-basis: 100%;
    }
}

.book .ads .ads-content .ad .label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.book .ads .ads-content .ad .label img {
    margin-right: 10px;
    width: 40px;
}

.book .ads .ads-content .ad .label h5 {
    color: #181818;
    font-size: 20px;
    font-weight: 600;
}

.book .ads .ads-content .ad p {
    font-size: 16px;
    color: #777777;
}

/* End Booking */

/* Start About */

.about {
    padding: 100px 79px;
    display: flex;
    justify-content: center;
}

@media (max-width: 991px) {
    .about {
        flex-direction: column;
        padding: 100px 60px;
    }
}

@media (max-width: 768px) {
    .about {
        padding: 100px 40px;
    }
}

.about .text {
    padding: 10px 40px 10px 0;
}

@media (max-width: 991px) {
    .about .text {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .about .text {
        padding: 10px;
    }
}

.about .text h4 {
    font-size: 24px;
    color: var(--main-colortwo , #65c178);
}

.about .text h1 {
    font-size: 54px;
    color: var(--main-colorone , #ed6436);
}

@media (max-width: 991px) {
    .about .text h1 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .about .text h1 {
        font-size: 30px;
    }
}

.about .text h1 span:first-of-type {
    color: black;
}

.about .text h1 span:last-of-type {
    color: var(--main-colortwo , #65c178);
}

.about .text > h5 {
    font-size: 20px;
    color: #6c757d;
    margin-bottom: 10px;
}

.about .text p {
    color: #777777;
    font-size: 16px;
    line-height: 1.5;
}

.about .text ul {
    list-style: none;
    margin-top: 20px;
}

.about .text ul h5 {
    color: #161616;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 20px;
    position: relative;
}

.about .text ul h5::before {
    content: "\f560";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--main-colortwo , #65c178);
    top: 0;
    left: -25px;
}

.about .text a {
    display: block;
    width: fit-content;
    color: white;
    text-decoration: none;
    margin-top: 25px;
    font-size: 20px;
    padding: 10px 25px;
    background-color: var(--main-colorone , #ed6436);
    transition: var(--trans-dur , 0.3s);
    -webkit-transition: var(--trans-dur , 0.3s);
    -moz-transition: var(--trans-dur , 0.3s);
    -ms-transition: var(--trans-dur , 0.3s);
    -o-transition: var(--trans-dur , 0.3s);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.about .text a:hover {
    background-color: #e84a15;
}

.about .photos > img {
    width: 370px;
}

@media (max-width: 991px) {
    .about .photos > img {
        width: 100%;
    }
}

.about .photos .tog {
    display: flex;
    margin-top: -5px;
}

.about .photos .tog img {
    width: 185px;
}

@media (max-width: 991px) {
    .about .photos .tog img {
        width: 50%;
    }
}

/* End About */