/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

/* End Global Rules */

/* Start Variables */

:root {
    --main-colorone: #ed6436;
    --main-colortwo: #65c178;
}

/* End Variables */

/* Start Components */
/* End Components */

/* Start Top bar */

.top-bar {
    background-color: var(--main-colortwo , #65c178);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .top-bar {
        flex-direction: column;
        align-items: center;
    }
}

.top-bar .help {
    display: flex;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .top-bar .help {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

.top-bar .help a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    display: block;
}

.top-bar .help a:hover {
    text-decoration: underline;
}

.top-bar .help span {
    height: 15px;
    width: 2px;
    background-color: white;
    display: block;
    margin-right: 20px;
}

.top-bar .socials i {
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

/* End Top bar */

/* Start Working Hours */

.work {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

@media (max-width: 991px) {
    .work {
        justify-content: center;
        align-items: center;
    }
}

.work .logo {
    font-size: 39px;
    font-weight: 800;
    color: var(--main-colorone , #ed6436);
}

@media (max-width: 991px) {
    .work .logo {
        display: none;
    }   
}

.work .logo span {
    color: black;
}

.work .hours {
    display: flex;
}

.work .hours .col {
    border-right: 1px solid #dee2e6;
    padding: 0 15px;
    text-align: center;
}

.work .hours .col:last-of-type {
    border-right: none;
}

.work .hours .col:nth-child(2) {
    margin-top: auto;
    margin-bottom: auto;
}

.work .hours .col h6 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #181818;
}

.work .hours .col p {
    opacity: 0.2;
}

/* End Working Hours */